.formWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    height: 220px;
    border: 1px solid black;
    padding: 15px;;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: left;
    font-size: 20px;
    
}

.button{
   width: 120px;
}